<li><%= render "share", :document => @document %></li>
<li>
  <%= link_to I18n.t('exploreuk.tools.full_record'), details_catalog_path(:id => @document), {:id => 'detailsLink', :data => {:ajax_modal => "trigger"}} %>
</li>
<li>
  <%= link_to I18n.t('exploreuk.tools.statistics'), catalog_path(:id => @document) %>
</li>
<% if @document[:pdf_url_display] %>
<li>
  <%# stub for mockup %>
  <%= link_to thumbs_catalog_path(:id => @document) do -%>
    <%= image_tag("thumbs.png") -%>
    <%= I18n.t('exploreuk.tools.thumbs') -%>
  <% end -%>
</li>
<li>
  <%= link_to @document[:pdf_url_display].first.to_s do -%>
    <%= image_tag "pdf.png" -%>
    <%= I18n.t('exploreuk.tools.pdf') -%>
  <% end -%>
</li>
<% end %>
<% if @document[:reference_image_url_s] %>
<li>
  <%= link_to download_catalog_path(:id => @document) do -%>
    <%= image_tag "download.png" -%>
    <%= I18n.t('exploreuk.tools.download') -%>
  <% end -%>
</li>
<% end %>
<li>
  <%# stub for mockup %>
  <%= link_to catalog_path(:id => @document) do -%>
    <%= image_tag "pdf.png" -%>
    <%= I18n.t('exploreuk.tools.download_item') -%>
  <% end -%>
</li>
